useDynLib(infer)

exportClasses(Posterior,
			  HD5ParamProxy,
			  HD5InfecProxy)

export(Posterior)
	   
exportMethods(show,
			  names,
			  dim,
			  length,
			  nrow,
			  ncol,
			  "[",
			  "$",
			  as.data.frame,
			  summary)
