useDynLib(infer)

exportClasses(Posterior,
              HD5ParamProxy,
              HD5InfecProxy,
              SpatPointSINR)

export(Posterior,
       SpatPointSINR,
       read.posterior,
       write.posterior)
	   
exportMethods(show,
              names,
              dim,
              length,
              nrow,
              ncol,
              "[",
              "$",
              as.data.frame,
              poccult,
              summary,
              plot,
              berp.fit,
              berp.sim)
