useDynLib(infer)

exportClasses(Posterior,
              HD5ParamProxy,
              HD5InfecProxy,
              SpatPointSINR)

export(Posterior,
       SpatPointSINR)
	   
exportMethods(show,
              names,
              dim,
              length,
              nrow,
              ncol,
              "[",
              "$",
              as.data.frame,
              summary,
              berp.fit)
